.title {
  font-weight: 700;
  color: var(--sw-green);
}
.subtitle {
  line-height: 0.5;
  font-weight: 700;
}
.paragraph {
  margin-top: 1.75rem;
}
.meetBtn {
  border: 0;
  margin: 1.5rem auto;
  background-color: var(--sw-green);
  border-radius: 50px;
}
.meetBtn:hover {
  background-color: var(--sw-green);
}

@media screen and (max-width: 1444px) {
  .paragraph {
    margin-top: 0.5rem;
    font-size: calc(0.875rem + 0.5vw);
  }
  .meetBtn {
    margin: 1rem auto;
    padding: 0.25rem 0.5rem;
  }
  .meetBtn a {
    font-size: calc(1rem + 0.5vw);
  }
}
